* {
    font-family:"CommitMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 14px;
}

#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#waybar.hidden {
    opacity: 0.1;
}

/* ------------------- Modules ------------------------ */

#waybar .module {
    color: #999999;
    background: #3A465C;

    border-radius: 6px;
    padding-bottom:0px;
    margin-top: 2px;
}

#tray {
    margin-right: 4px;
    padding-right: 7px;
    padding-left: 7px;
}

#network {
    padding-right: 7px;
    padding-left: 7px;
}

#memory {
    padding-right: 7px;
    padding-left: 7px;
}

#battery {
    padding-right: 7px;
    padding-left: 7px;
}

#cpu {
    padding-right: 7px;
    padding-left: 7px;
}

#pulseaudio {
    padding-right: 7px;
    padding-left: 7px;
}

#clock {
    padding-right: 7px;
    padding-left: 7px;
}

#workspaces {
    margin-left: 4px;
}

#workspaces button {
    color: #BEC5C7;
    background: transparent;
    border: 0px solid transparent;
    background-color: #3A465C;
}

/* ------------------- Tooltip ------------------------ */

tooltip {
    border-radius: 15px;
    padding: 15px;
    background-color: #3A465C;
}

tooltip label {
    font-family: "Commit Mono Nerd Font", monospace;
    padding: 2px;
}

Label:focus {
    background-color: #BEC5C7;
}
